.idea
/vendor
/wordpress
/docker-config/db
/docker-config/.env
/src/front/psd/
/src/front/png/
/src/front/jpg/
/src/front/jpeg/
/src/front/doc/
/src/front/pixelPerfect/
/src/front/build/
/src/front/prod/
/src/front/public/
/src/front/back/
/src/front/temp/
node_modules/
bower_components/
.DS_Store
.npm-debug.log
.env.json
assets/data/
bash.exe.stackdump
*.log